USE [restaurantOtomasyonu]
GO
/****** Object:  Table [dbo].[tblKategoriler]    Script Date: 13.01.2025 16:54:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblKategoriler](
	[kategoriID] [int] IDENTITY(1,1) NOT NULL,
	[kategoriAdi] [varchar](15) NULL,
 CONSTRAINT [PK_tblKategoriler] PRIMARY KEY CLUSTERED 
(
	[kategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblKullanicilar]    Script Date: 13.01.2025 16:54:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblKullanicilar](
	[kullaniciID] [int] IDENTITY(1,1) NOT NULL,
	[kullaniciAdiSoyadi] [varchar](50) NULL,
	[sifre] [varchar](25) NULL,
	[rol] [varchar](25) NULL,
	[olusturulmaTarihi] [varchar](30) NULL,
 CONSTRAINT [PK_tblKullanicilar] PRIMARY KEY CLUSTERED 
(
	[kullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblMasalar]    Script Date: 13.01.2025 16:54:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblMasalar](
	[masaID] [int] IDENTITY(1,1) NOT NULL,
	[masaAdi] [varchar](15) NULL,
	[Durum] [bit] NULL,
 CONSTRAINT [PK_tblMasalar] PRIMARY KEY CLUSTERED 
(
	[masaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblRezerveMasalar]    Script Date: 13.01.2025 16:54:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblRezerveMasalar](
	[RezerveID] [int] IDENTITY(1,1) NOT NULL,
	[masaID] [int] NULL,
	[Rezerve] [bit] NULL,
	[RezerveAdSoyad] [varchar](50) NULL,
	[RezerveZamani] [varchar](50) NULL,
 CONSTRAINT [PK_tblRezerveMasalar] PRIMARY KEY CLUSTERED 
(
	[RezerveID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblSiparisDetaylari]    Script Date: 13.01.2025 16:54:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSiparisDetaylari](
	[siparisDetayID] [int] IDENTITY(1,1) NOT NULL,
	[siparisID] [int] NULL,
	[urunID] [int] NULL,
	[adet] [int] NULL,
	[toplamFiyat] [decimal](18, 2) NULL,
 CONSTRAINT [PK_tblSiparisDetaylari] PRIMARY KEY CLUSTERED 
(
	[siparisDetayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblSiparisler]    Script Date: 13.01.2025 16:54:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblSiparisler](
	[siparisID] [int] IDENTITY(1,1) NOT NULL,
	[masaID] [int] NULL,
	[durum] [bit] NULL,
	[siparisTarihi] [varchar](50) NULL,
 CONSTRAINT [PK_tblSiparisler] PRIMARY KEY CLUSTERED 
(
	[siparisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblUrunler]    Script Date: 13.01.2025 16:54:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblUrunler](
	[urunID] [int] IDENTITY(1,1) NOT NULL,
	[urunAdi] [varchar](50) NULL,
	[fiyat] [decimal](18, 2) NULL,
	[stokMiktari] [int] NULL,
	[kategoriID] [int] NULL,
 CONSTRAINT [PK_tblUrunler] PRIMARY KEY CLUSTERED 
(
	[urunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tblKategoriler] ON 

INSERT [dbo].[tblKategoriler] ([kategoriID], [kategoriAdi]) VALUES (1, N'Ana Yemekler')
INSERT [dbo].[tblKategoriler] ([kategoriID], [kategoriAdi]) VALUES (2, N'Makarnalar')
INSERT [dbo].[tblKategoriler] ([kategoriID], [kategoriAdi]) VALUES (3, N'Izgaralar')
SET IDENTITY_INSERT [dbo].[tblKategoriler] OFF
SET IDENTITY_INSERT [dbo].[tblKullanicilar] ON 

INSERT [dbo].[tblKullanicilar] ([kullaniciID], [kullaniciAdiSoyadi], [sifre], [rol], [olusturulmaTarihi]) VALUES (2, N'Ahmet Yılmaz', N'1234', N'Yönetici', N'2025-01-04')
INSERT [dbo].[tblKullanicilar] ([kullaniciID], [kullaniciAdiSoyadi], [sifre], [rol], [olusturulmaTarihi]) VALUES (3, N'Fatma Kaya', N'abcd1234', N'Garson', N'2025-01-04')
INSERT [dbo].[tblKullanicilar] ([kullaniciID], [kullaniciAdiSoyadi], [sifre], [rol], [olusturulmaTarihi]) VALUES (4, N'Mehmet Demir', N'pass123', N'Şef', N'2025-01-04')
SET IDENTITY_INSERT [dbo].[tblKullanicilar] OFF
SET IDENTITY_INSERT [dbo].[tblMasalar] ON 

INSERT [dbo].[tblMasalar] ([masaID], [masaAdi], [Durum]) VALUES (1, N'Masa 1', 1)
INSERT [dbo].[tblMasalar] ([masaID], [masaAdi], [Durum]) VALUES (2, N'Masa 2', 0)
INSERT [dbo].[tblMasalar] ([masaID], [masaAdi], [Durum]) VALUES (3, N'Masa 3', 1)
SET IDENTITY_INSERT [dbo].[tblMasalar] OFF
SET IDENTITY_INSERT [dbo].[tblRezerveMasalar] ON 

INSERT [dbo].[tblRezerveMasalar] ([RezerveID], [masaID], [Rezerve], [RezerveAdSoyad], [RezerveZamani]) VALUES (1, 1, 1, N'Memati Baş', N'10.01.2025 12:00:00')
INSERT [dbo].[tblRezerveMasalar] ([RezerveID], [masaID], [Rezerve], [RezerveAdSoyad], [RezerveZamani]) VALUES (1002, 2, 1, N'Ahmet Kaya', N'14.01.2025 21:00:00')
INSERT [dbo].[tblRezerveMasalar] ([RezerveID], [masaID], [Rezerve], [RezerveAdSoyad], [RezerveZamani]) VALUES (1003, 1, 1, N'Memati Baş', N'16.01.2025 13:00:00')
SET IDENTITY_INSERT [dbo].[tblRezerveMasalar] OFF
SET IDENTITY_INSERT [dbo].[tblSiparisDetaylari] ON 

INSERT [dbo].[tblSiparisDetaylari] ([siparisDetayID], [siparisID], [urunID], [adet], [toplamFiyat]) VALUES (17, 18, 5, 3, CAST(225.00 AS Decimal(18, 2)))
INSERT [dbo].[tblSiparisDetaylari] ([siparisDetayID], [siparisID], [urunID], [adet], [toplamFiyat]) VALUES (21, 22, 9, 5, CAST(75.00 AS Decimal(18, 2)))
INSERT [dbo].[tblSiparisDetaylari] ([siparisDetayID], [siparisID], [urunID], [adet], [toplamFiyat]) VALUES (22, 23, 7, 3, CAST(84.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[tblSiparisDetaylari] OFF
SET IDENTITY_INSERT [dbo].[tblSiparisler] ON 

INSERT [dbo].[tblSiparisler] ([siparisID], [masaID], [durum], [siparisTarihi]) VALUES (18, 3, 0, N'13.01.2025 04:16:29')
INSERT [dbo].[tblSiparisler] ([siparisID], [masaID], [durum], [siparisTarihi]) VALUES (22, 8, 0, N'13.01.2025 14:04:14')
INSERT [dbo].[tblSiparisler] ([siparisID], [masaID], [durum], [siparisTarihi]) VALUES (23, 9, 0, N'13.01.2025 14:04:14')
SET IDENTITY_INSERT [dbo].[tblSiparisler] OFF
SET IDENTITY_INSERT [dbo].[tblUrunler] ON 

INSERT [dbo].[tblUrunler] ([urunID], [urunAdi], [fiyat], [stokMiktari], [kategoriID]) VALUES (3, N'Kuzu Pirzola', CAST(75.00 AS Decimal(18, 2)), 32, 3)
INSERT [dbo].[tblUrunler] ([urunID], [urunAdi], [fiyat], [stokMiktari], [kategoriID]) VALUES (4, N'Çoban Salata', CAST(20.00 AS Decimal(18, 2)), 29, 4)
INSERT [dbo].[tblUrunler] ([urunID], [urunAdi], [fiyat], [stokMiktari], [kategoriID]) VALUES (5, N'Ayran', CAST(7.00 AS Decimal(18, 2)), 48, 5)
SET IDENTITY_INSERT [dbo].[tblUrunler] OFF
ALTER TABLE [dbo].[tblRezerveMasalar]  WITH CHECK ADD  CONSTRAINT [FK_tblRezerveMasalar_tblMasalar] FOREIGN KEY([masaID])
REFERENCES [dbo].[tblMasalar] ([masaID])
GO
ALTER TABLE [dbo].[tblRezerveMasalar] CHECK CONSTRAINT [FK_tblRezerveMasalar_tblMasalar]
GO
ALTER TABLE [dbo].[tblSiparisDetaylari]  WITH CHECK ADD  CONSTRAINT [FK_tblSiparisDetaylari_tblSiparisler] FOREIGN KEY([siparisID])
REFERENCES [dbo].[tblSiparisler] ([siparisID])
GO
ALTER TABLE [dbo].[tblSiparisDetaylari] CHECK CONSTRAINT [FK_tblSiparisDetaylari_tblSiparisler]
GO
ALTER TABLE [dbo].[tblSiparisDetaylari]  WITH CHECK ADD  CONSTRAINT [FK_tblSiparisDetaylari_tblUrunler] FOREIGN KEY([urunID])
REFERENCES [dbo].[tblUrunler] ([urunID])
GO
ALTER TABLE [dbo].[tblSiparisDetaylari] CHECK CONSTRAINT [FK_tblSiparisDetaylari_tblUrunler]
GO
ALTER TABLE [dbo].[tblSiparisler]  WITH CHECK ADD  CONSTRAINT [FK_tblSiparisler_tblMasalar] FOREIGN KEY([masaID])
REFERENCES [dbo].[tblMasalar] ([masaID])
GO
ALTER TABLE [dbo].[tblSiparisler] CHECK CONSTRAINT [FK_tblSiparisler_tblMasalar]
GO
ALTER TABLE [dbo].[tblUrunler]  WITH CHECK ADD  CONSTRAINT [FK_tblUrunler_tblKategoriler] FOREIGN KEY([kategoriID])
REFERENCES [dbo].[tblKategoriler] ([kategoriID])
GO
ALTER TABLE [dbo].[tblUrunler] CHECK CONSTRAINT [FK_tblUrunler_tblKategoriler]
GO
